html, body {
  margin: 0;
  padding: 0;
}



.button {
  background-color: grey;
  border: none;
  color: white;
  padding: 8px 15px;
  width: 100px;
  text-align: left !important;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}



.slider {
  background-color: grey;
  border: none;
  color: white;
  fill: green; 
  padding: 10px 0px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

